<!DOCTYPE html>
<html>
<head>
    <title>Escaperoom Highscore's</title>
	<link type="text/css" rel="stylesheet" href="/css/ER_TableStyling.css">
	<link href="https://upevents.nl/wp-content/themes/up-events/assets/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<img src="/images/escape.jpg"  alt="your_image">
</html>