<!DOCTYPE html>
<html>
<head>
    <title>Escaperoom Highscore's</title>
	<link type="text/css" rel="stylesheet" href="/css/ER_TableStyling.css">
	<link href="https://upevents.nl/wp-content/themes/up-events/assets/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Room 8 </h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>

        <% for(let i = 0; i < dingdong.length; i++) {%>
            
            <tr>
				<td><%= i + 1 %></td>

				<% if(dingdong[i].eventGamemode == "The Bunker") {%>
					<td><%= "The Bunker" + dingdong[i].eventTeams %></td>
				<% } %>

				<% if(dingdong[i].eventGamemode == "Room 8") {%>
					<td><%= "Room 8" + dingdong[i].eventTeams %></td>
				<% } %>
            </tr>
            
        <% } %>
	
	</table>
</html>