<!DOCTYPE html>
<html>
<head>
	<title>Highscores</title>
	<link type="text/css" rel="stylesheet" href="/css/ER_TableStyling.css">
	<link href="https://upevents.nl/wp-content/themes/up-events/assets/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
  	<title>Escaperoom Highscore</title>
</head>
<body>
	<!--
	<br/>
	<br/>
	<br/>
	<table align="center">
		<tr>
			<th colspan="3">
				<h1 id="header">Escaperoom Highscores</h1>
			</th>
		</tr>
		<tr>
			<td></td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Score</strong>
			</td>
		</tr>
		<tr>
			<td>#1</td>
			<td>Maria Anders</td>
			<td>234</td>
		</tr>
		<tr>
			<td>#2</td>
			<td>Francisco Chang</td>
			<td>123</td>
		</tr>
		<tr>
			<td>#3</td>
			<td>Roland Mendel</td>
			<td>1234</td>
		</tr>
		<tr>
			<td>#4</td>
			<td>Helen Bennett</td>
			<td>531</td>
		</tr>
		<tr>
			<td>#5</td>
			<td>Yoshi Tannamuri</td>
			<td>652</td>
		</tr>
		<tr>
			<td>#6</td>
			<td>Giovanni Rovelli</td>
			<td>644</td>
		</tr>
		<tr>
			<td>#7</td>
			<td>Giovanni Rovelli</td>
			<td>644</td>
		</tr>
		<tr>
			<td>#8</td>
			<td>Giovanni Rovelli</td>
			<td>644</td>
		</tr>
		<tr>
			<td>#9</td>
			<td>Giovanni Rovelli</td>
			<td>644</td>
		</tr>
		<tr>
			<td>#10</td>
			<td>Giovanni Rovelli</td>
			<td>644</td>
		</tr>
	</table>
			
	-->

	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom Highscores</h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>
			<% for(let i = 0; i < scoreArray.length; i++) {%>
				<tr>
					<td><%= i + 1%></td>
					<td><%= teamNameArray[i] %></td>
					<td><%= scoreArray[i] %></td>
				</tr>
			<% } %>
	</table>
</body>
</html>